APP_NAME=url-shortener-api
APP_VERSION=1.0.0
NODE_ENV=development
API_URL_SHORTENER_PORT=3000

DB_POSTGRES_USER=root
DB_POSTGRES_HOST=localhost
DB_POSTGRES_PASSWORD=root
DB_POSTGRES_PORT=5432
DB_POSTGRES_NAME=url_shortener